*,body{
    background:#fff;
    color:#000;
  }
  .bg-info{
    background: linear-gradient(0deg, rgba(241,8,8,1) 36%, rgba(190,0,0,1) 100%);
  }
  .container{
    background: linear-gradient(0deg, rgba(241,8,8,1) 36%, rgba(190,0,0,1) 100%);
  }
  .navbar-expand-lg .navbar-collapse .nav-link {
    background: linear-gradient(0deg, rgba(241,8,8,1) 36%, rgba(190,0,0,1) 100%);
  }
  @media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    background: linear-gradient(0deg, rgba(241,8,8,1) 36%, rgba(190,0,0,1) 100%);
    }
  }